html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("https://www.investopedia.com/thmb/0YIEW5uwAAgQOcWA9WQI346XfuU=/2119x1414/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1028974962-7014e08cf72b4b828d55a7c77705da39.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

footer {
    padding: 15px;
    text-align: center;
    background-color: white;
    border: 4px dashed;
}

.footer_color {
    color: black;
}



.To_dash {
    border: 4px dashed;
    padding: 20px;
}

.HomeContainer {
    border: 3px black dashed;
    border-radius: 25px;
    position: relative;
    transform: translateY(30%);
    padding: 2%;
    width: 50%;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.7);
}
