html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: blue;
}

footer {
    text-align: center;
}

.To_do_footer {
    border: 4px dashed ;
    padding: 20px;
}


.To_dash {
    border: 4px dashed;
    padding: 20px;
}

.HomeContainer {


    border: dashed 3px black;
    border-radius: 25px;

    position:relative;
    transform: translateY(30%);
    width: 50%;
    height: 50vh;
    padding-top: 1%

}