@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav" id="navDIV">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-dark text-white " asp-area="" asp-controller="WebBudget" asp-action="Index"> Home  <i class="fa-solid fa-house-user"></i></a>
		</li>

		<li class="nav-item">
			<a id="create" class="nav-link text-dark text-white " asp-area="" asp-controller="WebBudget" asp-action="ManageExpense" title="ManageExpense">Expenses <i class="fa-solid fa-receipt"></i></a>
		</li>
		<li class="nav-item">
			<a id="create" class="nav-link text-dark text-white" asp-area="" asp-controller="WebBudget" asp-action="ManageIncome" title="ManageIncome"> Incomes <i class="fa-solid fa-money-bill-wave"></i></a>
		</li>

		<li class="nav-item">
			<a id="calculate" class="nav-link text-dark text-white" onclick="showCalculateModal()" style="cursor: pointer;"> Balance <i class="fa-solid fa-calculator"></i></a>
		</li>


		<li class="nav-item">
			<a id="manage" class="nav-link text-dark text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> Settings <i class="fa-solid fa-gear fa-spin"></i> </a>
		</li>
		<li class="nav-item">
			<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button id="logout" type="submit" class="nav-link btn btn-link text-dark text-white border-0" style="font-size:15px;">Logout  <i class="fa-sharp fa-solid fa-power-off fa-fade"></i></button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark text-white " asp-area="" asp-controller="Home" asp-action="Home">Home <i class="fa-solid fa-house-user"></i></a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark text-white" asp-area="" asp-controller="WebBudget" asp-action="About"> About <i class="fa-solid fa-question"></i></a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark text-white " id="register" asp-area="Identity" asp-page="/Account/Register">Register <i class="fa-solid fa-user-plus"></i> </a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark text-white " id="login" asp-area="Identity" asp-page="/Account/Login">Login <i class="fa-solid fa-right-to-bracket"></i></a>
		</li>
	}
</ul>

<div id="calculateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="calculateModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="calculateModalLabel" style="text-align:center">Choose period of time:</h5>
				<button type="button" class="close" id="cancelButton2" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="text-align:center">
				<form method="get" id="calculateForm" asp-action="CalculateBalance">
					<div class="form-group">
						<label for="startDate" style="color:white">Beginning Date:</label>
						<input style="text-align:center" type="date" class="form-control" id="startDate" name="startDate" required max="9999-12-31" />
					</div>
					<div class="form-group">
						<label for="endDate" style="color:white">End Date:</label>
						<input style="text-align:center" type="date" class="form-control" id="endDate" name="endDate" required max="9999-12-31" />
					</div>
					<div class="text-center" style="margin-top: 10%; margin-bottom: 10%">
						<button type="submit" class="btn btn-primary">Calculate</button>
						<button type="button" class="btn btn-secondary" id="cancelButton">Cancel</button>
					</div>
					<button type="button" class="btn btn-info" id="calculateCurrentMonth">Current Month</button>

				</form>
			</div>
		</div>
	</div>
</div>


<script>
	function showCalculateModal() {
		$('#startDate').val('');
		$('#endDate').val('');

		$('#calculateModal').modal('show');
	}

	$(document).ready(function () {
		$("#cancelButton, #cancelButton2").click(function () {
			$('#calculateModal').modal('hide');
		});
	});

	document.getElementById('calculateCurrentMonth').addEventListener('click', function () {
		var today = new Date();
		var year = today.getFullYear();
		var month = today.getMonth() + 1;
		var startDate = year + '-' + ('0' + month).slice(-2) + '-01';
		var lastDay = new Date(year, month, 0).getDate();
		var endDate = year + '-' + ('0' + month).slice(-2) + '-' + lastDay;

		document.getElementById('startDate').value = startDate;
		document.getElementById('endDate').value = endDate;
		document.getElementById('calculateForm').submit();
	});
</script>

