@{
	Layout = "_Layout";
}

@section containerContent {
	<h1>About</h1>
	<div>

		<p style="text-align"> C# Extended Application of Budget App made in C++ language, which you can see below: </p>
		<a href="https://github.com/ErdoGie/FinancialAPp">	<img class="C_Image" src="~/lib/C_budgetAPP.png" alt="C++BudgetAPP" /> </a>
		<p> App is intended for every single user around the world, to take control over his/hers finances. </p>
		<p> Stack used to create website: </p>
		<div class="centered-conatiner">
			<div class="grid-container">
				<div class="grid-item">
					<i class="fa-brands fa-bootstrap fa-xl" style="color: #7d078d;"> </i>
				</div>
				<div class="grid-item">
					<i class="fa-brands fa-html5 fa-xl" style="color: #7d078d;"></i>
				</div>
				<div class="grid-item">
					<i class="fa-brands fa-css3 fa-xl" style=" color: #7d078d;"></i>
				</div>
				<div class="grid-item">
					<i class="fa-brands fa-js fa-xl" style="color: #7d078d;"></i>
				</div>
				<div class="grid-item">
					<i class="fab fa-microsoft fa-xl " style="color: #7d078d;"></i>
				</div>

			</div>

		</div>
	</div>
	}
