@{
	Layout = "_Layout";
}

@section containerContent  {
	<style>

		.background-container {
			animation: slideDown 2s ease-in-out;
		}

	</style>

	<h4 style="margin-bottom: 20px;"> Inflation, "high" interest rates, uncertainty, fear, and volatitly. </h4>

	<p>
		These are conditions which we are currently facing with. We all follow the money, but very few know, that nothing what happens currently in banking system is being done on purpose.
		Unfortunately this application is not gonna tell you what to invest in, how to move through the market
		 <strong><em>but</em>  </strong>
		with this app you will be more aware of your expenses, incomes, and your wallet's balance.
		
	</p>

<<<<<<< HEAD
	
=======
	<p>Choose pill:</p>

	@if (TempData.ContainsKey("IncomeAdded") && (bool)TempData["IncomeAdded"] == true)
	{

		<script>
			window.alert("Income added successfully");
		</script>
	}
>>>>>>> Feature_Functionalities


	<p style="padding-top:14%;">I highly encourage you to visit my <a href="https://radoslaw-gucwa.profesjonalnyprogramista.pl/?cat=2">Website</a>. In this section, I provide knowledge about economics. </p>
}
