@{
	Layout = "_Layout";
}

@section containerContent {

	<h4 style="margin-bottom: 20px;"> Inflation, "high" interest rates, uncertainty, fear, and volatitly. </h4>

	<p>
		These are conditions which we are currently facing with. Unfortunately we have no influence on that, <strong><em>but</em>  </strong>
		with this app you will be more aware of your expenses, incomes, and your wallet's balance.
	</p>

}
