@{
	if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
	{
		Layout = parentLayout.ToString();
	}
	else
	{
		Layout = "/Areas/Identity/Pages/_Layout.cshtml";
	}
}

@section containerContent{
	<h3>Account</h3>

	<div>
		<hr />
		<div class="row">
			<div class="col-sm-3">
				<partial name="_ManageNav" />

			</div>
			<div class="col-sm-6 ">
				@RenderBody()
			</div>
		</div>
	</div>
}

@section Scripts {
	@RenderSection("Scripts", required: false)
}
