@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4> Hello there @UserManager.GetUserName(User)!</h4>
<partial name="_StatusMessage" for="StatusMessage" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
