@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@section containerContent{
    <div class="overlay" id="popup-overlay"></div>
    <div class="popup" id="popup">
        <h2>Forgot your password confirmation</h2>
        <p>If you have an account in this application, proper e-mail address should be in your mailbox.</p>
        <button id="close-popup">Close</button>
    </div>

    <script>
        var overlay = document.getElementById('popup-overlay');
        var popup = document.getElementById('popup');

        var closeButton = document.getElementById('close-popup');

        window.onload = function () {
            overlay.style.display = 'block';
            popup.style.display = 'block';
        };

        closeButton.addEventListener('click', function () {
            overlay.style.display = 'none';
            popup.style.display = 'none';
        });
    </script>
}
