@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@section containerContent{
    <!-- Dodaj overlay i popup -->
    <div class="overlay" id="popup-overlay"></div>
    <div class="popup" id="popup">
        <h2>Forgot your password confirmation</h2>
        <p>If you have an account in this application, proper e-mail address should be in your mailbox.</p>
        <button id="close-popup">Close</button>
    </div>

    <!-- JavaScript do obsługi pop-upa -->
    <script>
        // Pobierz overlay i popup
        var overlay = document.getElementById('popup-overlay');
        var popup = document.getElementById('popup');

        // Pobierz przycisk "Close"
        var closeButton = document.getElementById('close-popup');

        // Pokaż pop-up po załadowaniu strony
        window.onload = function () {
            overlay.style.display = 'block';
            popup.style.display = 'block';
        };

        // Zamykanie pop-upa po kliknięciu przycisku "Close"
        closeButton.addEventListener('click', function () {
            overlay.style.display = 'none';
            popup.style.display = 'none';
        });
    </script>
}
