@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

@section containerContent {

	<div class="row justify-content-center align-items-center">
		<div class="col-md-4">
			<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
				<h4>Register account.</h4>
				<hr style="margin-bottom:10%" />
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Login" class="form-control" autocomplete="username" aria-required="true" placeholder="RdoG" autocomplete = "off" />
					<label asp-for="Input.Login">Login</label>

					<span asp-validation-for="Input.Login" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" autocomplete="off" />
					<label asp-for="Input.Email">Email</label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
					<label asp-for="Input.Password">Password</label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
					<label asp-for="Input.ConfirmPassword">Confirm Password</label>
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				</div>
				<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" >Register</button>

			</form>
		</div>
	
	</div>

}

<div class="modal fade" id="verificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content ">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Email Verification</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				@Html.Raw(Model.StatusMessage)
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}


<script>
	function openVerificationModal() {
		$('#verificationModal').modal('show');
	}

	@if (!string.IsNullOrEmpty(Model.StatusMessage))
	{
		<text>
			$(document).ready(function () {
				openVerificationModal();
			});
		</text>
	}
</script>




