@page
@model ResetPasswordConfirmationModel
@{
	ViewData["Title"] = "Reset password confirmation";
}
@section containerContent{
	<p>
		Your password has been reset. You may now <a asp-page="./Login">click here to log in</a>.
	</p>
}