@model WebBudget.Domain.Entities.CalcualteBalance

@{
	ViewData["Title"] = "Balance";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section containerContent{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dateRangeModal">
        Choose Date Range
    </button>
    <!-- Modal -->
    <div class="modal fade" id="dateRangeModal" tabindex="-1" role="dialog" aria-labelledby="dateRangeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dateRangeModalLabel">Choose Date Range</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-action="Balance">
                        <div class="form-group">
                            <label for="startDate" style="color:white">Beginning Date</label>
                            <input type="date" class="form-control" id="startDate" name="startDate" required
                                   min="2000-01-01" max="@DateTime.Today.AddMonths(1).AddDays(-1).ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="form-group">
                            <label for="endDate">Ending Date:</label>
                            <input type="date" class="form-control" id="endDate" name="endDate" required
                                   min="2000-01-01" max="@DateTime.Today.AddMonths(1).AddDays(-1).ToString("yyyy-MM-dd")" />
                        </div>
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}
