@model WebBudget.Application.WebBudget.Commands.CreateExpenseViewModel.ExpenseViewModelCommand

@{
	ViewData["Title"] = "CreateExpense";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@section containerContent{
	<h1>Add expense</h1>

	<hr />
	<div class="col-md-4 mx-auto" style="padding:5%">
		<form asp-action="CreateExpense">
			<div class="form-group">
				<label for="ExpenseCommand.ExpenseType" class="control-label">Expense Type</label>
				<div class="form-group">
					@if (Model.ExpenseCategories.Any())
					{
						<select id="ExpenseCommand.ExpenseType" name="ExpenseCommand.ExpenseType" class="form-control">
							<option style="text-align:center" value="" selected disabled>Choose income category</option>
							@foreach (var category in Model.ExpenseCategories)
							{
								<option style="text-align:center" value="@category.CategoryName">@category.CategoryName</option>
							}
						</select>
					}
					else
					{
						<select id="IncomeCommand.IncomeType" name="IncomeCommand.IncomeType" class="form-control">
							<option class="text-muted" selected disabled>No category available. Add some first.</option>
						</select>
					}
					<span class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="ExpenseCommand.ExpenseDate" class="control-label">Expense Date</label>
				<input id="ExpenseCommand.ExpenseDate" style="text-align:center" name="ExpenseCommand.ExpenseDate" class="form-control" type="date" />
			</div>
			<div class="form-group">
				<label for="ExpenseCommand.ExpenseValue" class="control-label">Expense Value</label>
				<input id="ExpenseCommand.ExpenseValue" name="ExpenseCommand.ExpenseValue" style="text-align:center" class="form-control" />
			</div>
			<div class="form-group d-flex justify-content-center">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>



	<div>
		<a asp-action="Index">Back to List</a>
	</div>
	}

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
