@model WebBudget.Application.WebBudget.Commands.CreateIncomeViewModel.IncomeViewModelCommand

@{
	ViewData["Title"] = "CreateIncome";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section containerContent {
    <h1>Add income</h1>

    <hr />

    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addIncomeModal">
            Add Income
        </button>
    </div>

   <div class="modal fade" id="addIncomeModal" tabindex="-1" role="dialog" aria-labelledby="addIncomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addIncomeModalLabel">Add Income</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateIncome">
                    <div class="form-group">
                        <label for="IncomeCommand.IncomeType" class="control-label" style="color:white" >Category</label>
                        <div class="form-group">
                            @if (Model.IncomeCategories.Any())
                            {
                                <select id="IncomeCommand.IncomeType" name="IncomeCommand.IncomeType" class="form-control">
                                    <option style="text-align:center" value="" selected disabled>Choose income category</option>
                                    @foreach (var category in Model.IncomeCategories)
                                    {
                                        <option style="text-align:center" value="@category.CategoryName">@category.CategoryName</option>

                                    }
                                </select>
                            }
                            else
                            {
                                <select id="IncomeCommand.IncomeType" name="IncomeCommand.IncomeType" class="form-control">
                                    <option class="text-muted" selected disabled>No category available. Add some first.</option>
                                </select>
                            }
                            <span class="text-danger" asp-validation-for="IncomeCommand.IncomeType"></span>
                        </div>
                    </div>

                    <div class="form-group">
                            <label for="IncomeCommand.IncomeDate" class="control-label" style="color:white">Date</label>
                        <input id="IncomeCommand.IncomeDate" style="text-align:center" name="IncomeCommand.IncomeDate" class="form-control" type="date" />
                        <span class="text-danger" asp-validation-for="IncomeCommand.IncomeDate"></span>
                    </div>
                    <div class="form-group">
                        <label for="IncomeCommand.IncomeValue" class="control-label" style="color:white">Value</label>
                        <input id="IncomeCommand.IncomeValue" name="IncomeCommand.IncomeValue" style="text-align:center" class="form-control" />
                        <span class="text-danger" asp-validation-for="IncomeCommand.IncomeValue"></span>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    <div>
        <a asp-action="ManageIncome">Back to List</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


