@model WebBudget.Application.WebBudget.Commands.CreateIncomeViewModel.IncomeViewModelCommand

@{
	ViewData["Title"] = "CreateIncome";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section containerContent{
	<h1>Add income</h1>

	<hr />
	<div class="col-md-4 mx-auto" style="padding:5%">
		<form asp-action="CreateIncome">
			<div class="form-group">
				<label for="IncomeCommand.IncomeType" class="control-label">Category</label>
				<div class="form-group">
					@if (Model.IncomeCategories.Any())
					{
						<select id="IncomeCommand.IncomeType" name="IncomeCommand.IncomeType" class="form-control">
							<option style="text-align:center" value="" selected disabled>Choose income category</option>
							@foreach (var category in Model.IncomeCategories)
							{
								<option style="text-align:center" value="@category.CategoryName">@category.CategoryName</option>
							}
						</select>
					}
					else
					{
						<select id="IncomeCommand.IncomeType" name="IncomeCommand.IncomeType" class="form-control">
							<option class="text-muted" selected disabled>No category available. Add some first.</option>
						</select>
					}
					<span class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="IncomeCommand.IncomeDate" class="control-label">Date</label>
				<input id="IncomeCommand.IncomeDate" style="text-align:center" name="IncomeCommand.IncomeDate" class="form-control" type="date" />
			</div>
			<div class="form-group">
				<label for="IncomeCommand.IncomeValue" class="control-label">Value</label>
				<input id="IncomeCommand.IncomeValue" name="IncomeCommand.IncomeValue" style="text-align:center" class="form-control" />
			</div>
			<div class="form-group d-flex justify-content-center">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>



	<div>
		<a asp-action="ManageIncome">Back to List</a>
	</div>

}
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

