@model WebBudget.Application.CreateIncomeViewModel.IncomeViewModel

@{
    ViewData["Title"] = "CreateIncome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateIncome</h1>

<h4>IncomeViewModel</h4>
<hr />
<form asp-action="CreateIncome">
    <div class="form-group">
        <label for="IncomeCommand.IncomeType" class="control-label">Income Type</label>
        <select id="IncomeCommand.IncomeType" name="IncomeCommand.IncomeType" class="form-control">
            @foreach (var category in Model.IncomeCategories)
            {
                <option value="@category.CategoryName">@category.CategoryName</option>
            }
        </select>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="IncomeCommand.IncomeDate" class="control-label">Income Date</label>
        <input id="IncomeCommand.IncomeDate" name="IncomeCommand.IncomeDate" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label for="IncomeCommand.IncomeValue" class="control-label">Income Value</label>
        <input id="IncomeCommand.IncomeValue" name="IncomeCommand.IncomeValue" class="form-control" type="number" step="0.01" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
