@using WebBudget.Application.WebBudget.Commands.Queries.EditWebBudgets.EditWebBudgetIncome;
@model EditWebBudgetIncomeCommand

@{
    ViewData["Title"] = "IncomeEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section containerContent  {

<h1>Edition of  @Model.IncomeType </h1>


<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="IncomeEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IncomeType" class="control-label"></label>
                <input asp-for="IncomeType" class="form-control" />
                <span asp-validation-for="IncomeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomeDate" class="control-label"></label>
                <input asp-for="IncomeDate" class="form-control" />
                <span asp-validation-for="IncomeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomeValue" class="control-label"></label>
                <input asp-for="IncomeValue" class="form-control" />
                <span asp-validation-for="IncomeValue" class="text-danger"></span>
            </div>
         
            <div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary pulsating-button" />
            </div>
        </form>
    </div>
</div>

	<div class="row">
		<div class="col-md-4 mx-auto">
			<form action="/WebBudget/CreateIncome" method="post">
				<div class="form-group mb-3">
					<label class="control-label" asp-for="IncomeType">
						Income Type
					</label>
					<div class="input-group">
						<input class="form-control bg-light text-white custom-input text-align:center" type="text" id="IncomeType" asp-for="IncomeType" placeholder="Choose income category" readonly />
						<div class="input-group-append">
							<button class="btn btn-secondary" type="button" id="toggleIncomeOptions">
								<i class="fas fa-caret-down"></i>
							</button>
						</div>
					</div>
					<span asp-validation-for="IncomeType" class="text-danger">

					</span>
					<div class="options-container" id="IncomeTypeOptions" style="display: none;">
						<div class="row">
							<div class="col-md-6">
								<label>
									<input type="radio" name="incomeOption" value="Payment" /> Payment
								</label>
							</div>
							<div class="col-md-6">
								<label>
									<input type="radio" name="incomeOption" value="Insurance" /> Insurance
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>
									<input type="radio" name="incomeOption" value="Another" /> Another(provide)
								</label>
							</div>
							<div class="col-md-6">
								<label>
									<input type="radio" name="incomeOption" value="Gift" /> Gift
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group mb-3">
					<label class="control-label" asp-for="IncomeDate">
						Income Date
					</label>
					<input style="text-align:center" class="form-control bg-light text-white" type="text" id="IncomeDate" asp-for="IncomeDate" placeholder="Select date" />
					<span asp-validation-for="IncomeDate" class="text-danger"></span>
					<span id="validationDateMessage"></span>
				</div>

				<div class="form-group mb-3">
					<label class="control-label" asp-for="IncomeValue">
						Income Value
					</label>
					<input style="text-align:center" class="form-control bg-light text-white" type="text" id="IncomeValue" asp-for="IncomeValue" placeholder="Provide income value" />
					<span asp-validation-for="IncomeValue" class="text-danger"></span>
					<span id="incomeValueValidationMessage" class="text-danger"></span>
				</div>

				<div class="form-group mb-3">
					<button type="submit" class="btn btn-primary" onclick="showIncomeAddedMessage()">
						Add Income
					</button>
				</div>

			</form>
		</div>
	</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
