@using Microsoft.AspNetCore.Identity
@using WebBudget.MVC.Areas.Identity
@using WebBudget.MVC.Areas.Identity.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
	Layout = "_Layout";
}
@inject UserManager<IdentityUser> UserManager

@section containerContent  {
	<style>

		.background-container {
			animation: slideDown 2s ease-in-out;
		}

	</style>
	<h4> Hello there @UserManager.GetUserName(User)!</h4>
	<hr style="border-top: 4px dotted; width: 20%; position:relative; left: 40%; color:black" />

	<div>

	</div>


}
