@using Microsoft.AspNetCore.Identity
@using WebBudget.MVC.Areas.Identity
@using WebBudget.MVC.Areas.Identity.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
	Layout = "_Layout";
}
@inject UserManager<IdentityUser> UserManager

@section containerContent  {
	<style>

		.background-container {
			animation: slideDown 2s ease-in-out;
		}

	</style>
	<h4> Welcome @UserManager.GetUserName(User)!</h4>
	<hr class="iline"/>

	<div class="home_index_div">
		<p>Congratulations. You are one step closer to your budget management! Now you have access to your virtual wallet, where you can administer
			your expenses, incomes, and calculate balance. Have fun!
		</p>
	

	</div>

	<div class="coin-container">
	
		<div class="coin"></div>
	</div>

}
