@{
	Layout = "_Layout";
}

@section containerContent {
	<div class="row justify-content-center" style="margin-top:15%">

		<div class="col-md-4">
			<div class="card mb-4">
				<div class="card-body">
					<h5 class="card-title">Manage Categories</h5>
					<p class="card-text">Edit or delete?</p>
					<a href="ShowExpenseCategories1" class="btn btn-primary">Go</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-4">
				<div class="card-body">
					<h5 class="card-title">Manage your expense</h5>
					<p class="card-text">Edit, maybe delete?</p>
					<a href="ExpensesIndex" class="btn btn-primary">Go</a>
				</div>
			</div>
		</div>
	</div>


}
