@{
	Layout = "_Layout";
}

@section containerContent {
	<div class="row justify-content-center" style="margin-top: 10%">
		<div class="col-md-4">
			<div class="card mb-4">
				<div class="card-body">
					<h5 class="card-title">Income category</h5>
					<p class="card-text">Add categories</p>
					<a href="AddIncomeCategory" class="btn btn-primary">Go</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-4">
				<div class="card-body">
					<h5 class="card-title">Manage categories</h5>
					<p class="card-text">Edit or delete?</p>
					<a href="ShowIncomeCategories" class="btn btn-primary">Go</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center" >
		
		<div class="col-md-4">
			<div class="card mb-4">
				<div class="card-body">
					<h5 class="card-title">Add income</h5>
					<p class="card-text">Based on provided categories</p>
					<a href="CreateIncome" class="btn btn-primary">Go</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-4">
				<div class="card-body">
					<h5 class="card-title">Manage your incomes</h5>
					<p class="card-text">Edit, maybe delete?</p>
					<a href="IncomesIndex" class="btn btn-primary">Go</a>
				</div>
			</div>
		</div>
	
	</div>
}
