@{
	Layout = "_Layout";
}

@section containerContent {
    @if (TempData.ContainsKey("IncomeAdded") && (bool)TempData["IncomeAdded"] == true)
    {
        <div class="row" id="successSection">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-success">
                    <i class="fas fa-check-circle"></i> Income Added Successfully
                </div>
            </div>
        </div>
    }
   
}